body{
    background-image: url("/LABA_PO_PIPU_NOMER_TRI_war_exploded/Resources/main_bg.jpg");
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%
}

#index{
    text-align: center;
    font-family: "Century Gothic";
    font-size: 30px;
    color:black;
}

#time{
    font-size: 100px;
    color: black;
    text-align: center;
}

#date{
    font-size: 70px;
    color: black;
    text-align: center;
}

#nextp {
    font-size: 15px;
    font-family: "Century Gothic";
}